/* *{margin: 0; padding: 0; box-sizing: border-box;} */
.App{
  width: 90%;
  margin: 0 auto;
}
.app-container{
  background-color: #111;
  height: 100vh;
}

h1{margin: 0;}

.title{
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 0.5em;
  margin-bottom: 1em; 
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 80vh;
}

.contadorClicksContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
  border: 10px solid #111;
  text-align: center;
  background-color: greenyellow;
  margin-bottom: 10px;
}
.contadorClicksContainer h2{
  font-size: 3em
}

.btn-container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 60%;
  margin-right: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #999;
  color: #fff;
}
.btn:first-child{
  background-color: rgb(255, 174, 0);
}
.btn:last-child{
  background-color: rgb(255, 0, 13);
}